* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .chat-container {
    display: flex;
    height: 80vh;
    background-color: #f3f3f3;
    margin: 20px;
}  
  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    position: relative;
  }
  .sidebar li.active{
    background-color: #2d1c1c;
  }
  .sidebar li span.image img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .sidebar li span.name{
    font-size: 12px;
  }
  .sidebar li span.count{
    position: absolute;
    top: 0px;
    left: 0;
    background: green;
    font-size: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  
  .sidebar li:hover {
    background-color: #34495e;
  }
  
  .chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .chat-header {
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  
  .chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message {    
    max-width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    clear: both;
  }
  
  .sent {
    background-color: #d5d5d5; /* light green */

    float: left;
    text-align: left;

  }
  
  .received {
    background-color:  #dcf8c6; /* light gray */
    text-align: right;
    float: right;

  }
  
  .message.user {
    align-self: flex-end;
    background-color: #3498db;
    color: white;
  }
  
  .message.bot {
    align-self: flex-start;
    background-color: #e4e6eb;
    color: #333;
  }
  .chat-input-wrapper{
    display: flex;
    width: 100%;
  }
  .chat-input {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .chat-input button:hover {
    background-color: #2980b9;
  }
  
  .chat-messages {
    max-height: 400px; /* or whatever fits your layout */
    overflow-y: auto;
  }
  .search-user{
      font-size: 14px;
      width: 100%;
      border-radius: 2px;
      padding: 5px 10px;
  
  }
  .upload-file{
    width: 50px;
    height: 30px;
    cursor: pointer;
  }
  #file{
    visibility: hidden;
  }