.css-hlgwow {
    padding: 0px 8px!important;
    font-size: 15px!important;
}
.css-19bb58m {
    margin: 0!important;
    padding-bottom: 0!important;
    padding-top: 0!important;    
}
.css-13cymwt-control{
    background: hsl(197.14deg 30.43% 95.49%)!important;
    border-color: hsl(197.14deg 30.43% 95.49%)!important;
    border-radius: 8px!important;
}
.css-1u9des2-indicatorSeparator {    
    width: 0px!important;    
}